.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    border-radius: 10px;
  }
  .dropdown-content a {
    text-decoration: none;
    display: block;
  }
  .show {display: block;} 